body {
    text-align: center;
}
.padme {
    padding: 10px;
    
}
.changeMe {
    width: 400px;
    height: 400px;
    margin: 20px;
    background: blue;
    margin: 20px auto;
    border-radius: 20px;
}