body {
    margin: 1000;
    background-color: hsl(0, 0%, 98%);
    color: rgb(11, 51, 90);
    font: 110% / normal sans-serif;
  }
 
.padme {
    padding: 10px;
    border-color: aquamarine;
    color: blue;
    outline: none;
    
    
}